= form_for @user do |f|
  = @user.errors.full_messages
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit (@user.new_record? ? t("Sign up") : t("Update"))
