= form_for @word, :url => path do |f|
  -if @word.errors.any?
    #error_explanation
      %ul
        - @word.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name

  =link_to I18n.t('retrieve_data'), retrieve_exercise_words_path, :remote => true, "data-base" =>  retrieve_exercise_words_path(:format => :js), :id => "retriever", "data-type" => "script", :class => :button
  #spinner

  .field
    = f.label :translation
    = f.text_area :translation, :rows => 4
  .field
    = f.label :examples
    = f.text_area :examples, :rows => 4
    %p.comment=t('examples_explanation')
  .field

    = f.label :wordform
    = f.select :wordform, [ [ "Nomen","N"],[ "Verb", "V" ], [ "Adjektiv","A" ], [ "Sonstige","S" ]]
    =# f.text_field :wordform
    %p.comment=t('wordform_explanation')
  .field
    = f.label :synonyms
    = f.text_area :synonyms, :rows => 1
  .field
    = f.label :grammar
    = f.text_area :grammar, :rows => 2
    %p.comment=t('grammar_explanation')
  .actions
    = f.submit I18n.t('save')
    =# f.submit I18n.t('save_and_new'), :name => "to_new"


- javascript_tag do
  retriever(); 
  $('#word_name').focus();
