!!!
%html
  %head
    %meta{ "http-equiv"=>"Content-Type", :content => "application/html; charset=utf-8" }
    %title Germanize
    = stylesheet_link_tag :all, :cache => "styling"
    = stylesheet_link_tag "/facebox/facebox.css", :cache => true
    
    = javascript_include_tag :defaults,   "jquery.progressbar.min", "qtip", :cache => "jscript"
    = javascript_include_tag "/facebox/facebox.js", :cache => true

    = csrf_meta_tag
    = yield(:head)
  %body#home
    .wrap
      #logo
        %h1
          %a{:href => "/", :title => "Home"} 
            =yield(:title)
            Germanize
        %p Making learning German much easier!
      %ul#nav
        %li=link_to_with_highlight t("activerecord.models.exercise"), exercises_path
        - if logged_in?
          %li=link_to t('logout'), logout_path
          %li=link_to t('profile'), edit_user_path(current_user)
        

      .clear
    .wrap
      #left
        %h2=yield(:title)
        - flash.each do |bla,blubb|
          %div.message{ :class => bla }
            = blubb
        = yield
      #right
        .box
        =yield(:sidebar)
      #footer
        %p
          %strong=t('Author')
          %a{:href => "http://www.stefanwienert.net/"} Stefan Wienert
        %p
          =t("Design") 
          %a{:href => "http://www.solucija.com/", :title => "Awsome Web Templates"} Solucija

        = yield(:footer)
